* {
  margin: 0;
  padding: 0;
}

.wrappergradient {
  height: 100vh;
  background: linear-gradient(45deg, red, purple, orange, yellow, crimson) 0 0 / 1000% no-repeat;
  animation: animate 7s ease infinite; /* Vendor prefix added */
}


@keyframes animate {
  0% {
    background-position: 0 30%, 0 0; /* Removed duplicate 0 0 */
  }
  50% {
    background-position: 100% 70%, 0 0; /* Removed duplicate 0 0 */
  }
  100% {
    background-position: 0 30%, 0 0; /* Removed duplicate 0 0 */
  }
}