.frosted-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.frosted-container .box{
    height: 86vh;
    width: 75%;
    padding: 0, 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}
.frosted-container2 {
    display: flex;
    justify-content: center;
    align-items: center;

}
.frosted-container2 .box{
    height: 70%;
    width: 55%;
    padding: 0, 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
}
.center-image {
    display: block;  /* Make the image a block-level element */
    margin: 0 auto;  /* Set margins for horizontal centering */
}
.frosted-container .box .headertextsim {
    height: 10%;
    width: 50%;
}